.log-in
  .upper-section
    .input-wrapper
      form(name='userForm', novalidate)
        input(
          format-input='tel',
          type='tel',
          name='phone',
          placeholder='(555) 555-5555',
          auto-focus='true',
          ng-model='user.username',
          pattern='[^\\d]*\\d{3}[^\\d]*\\d{3}[^\\d]*\\d{4}$',
          maxlength='14',
          autocomplete='off',
          required)

        input(
          type='password',
          name='password',
          placeholder='Password',
          ng-model='user.password',
          ng-minlength='min_password',
          autocomplete='off',
          required)

      .forgot-wrapper
        a(ui-sref="password.forgot({phone_number: user.username})") Forgot your password?

  .lower-section
    .button-wrapper
      button.button(ng-click='login()', ng-disabled='userForm.$invalid')
        span Log in
      button.white-boarder-button(ui-sref='newUser.phoneNumber')
        span Sign up
